services:
  # The App
  salon-server:
    image: ghcr.io/thoshats/salondergedankenserver:sha-6bceee8
    restart: unless-stopped
    networks:
      - caddy
    labels:
      caddy: "salondergedanken.bw-papenburg-archiv.de"
      caddy.reverse_proxy: "{{upstreams 8000}}"
    environment:
      # Add any environment variables your app needs here
      - TZ=Europe/Berlin

  # Automatic HTTPS Proxy
  caddy:
    image: lucaslorentz/caddy-docker-proxy:ci-alpine
    ports:
      - "80:80"
      - "443:443"
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
    networks:
      - caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - caddy_data:/data
    restart: unless-stopped

networks:
  caddy:
    external: true

volumes:
  caddy_data: {}
